.main{
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 205, 205);
    padding: 0.8% 0;
}
.home{
    width: 20%;
}
.home button{
    background: none;
    border: none;
    font-size: 1.4rem;
    margin-left: 15%;
    cursor: pointer;
}
.rightSection{
    width: 25%;
}
.rightSection button{
    font-size: 1.25rem;
    margin-right: 5%;
    background: none;
    border: none;
    border-right:1px solid  rgb(205, 205, 205);
    padding-right: 5%;
    cursor: pointer;
}